<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akashapplications.technicalannaadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".GlobalConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainMenu.Booster.AddBooster"></activity>
        <activity android:name=".MainMenu.SubjectExam.AddSubjectExam" />
        <activity
            android:name=".MainMenu.SubjectExam.SubjectExam"
            android:label="@string/title_activity_subject_exam"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainMenu.Booster.Booster"
            android:label="@string/title_activity_booster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenu.ToppersTip.ToppersTip"
            android:label="@string/title_activity_toppers_tip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenu.ExamBanner.ExamNotificationBanner"
            android:label="@string/title_activity_exam_notification_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>